@media only screen and (max-width: 768px) {
  .navBarLarge {
    display: none;
  }

  .header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10%;
  }

  .navBarSmall {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3px;
  }

  .navBar .button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #ffffff;
    right: 0;
    bottom: 0;
    height: auto;
    width: 0;
    overflow: hidden;
    max-width: 150px;
    z-index: 9;
    flex-direction: column;
    padding: 0;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  .menuNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .menuNav a {
    display: block;
    list-style: column;
    padding: 10px 40px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }
}



.title {
  font-size: 1rem;
  color: #333;
  text-align: left;
}



@media only screen and (min-width: 768px) {
  .navBarSmall {
    display: none;
  }
  .header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10%;
  }

  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: grey;
  }
}
