.listcontainer {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 153px);
  row-gap: 100px;
}

.imagecontainer {
  width: 153px;
  height: 200px;
}

.imagestyle {
  width: 153px;
  height: 200px;
  border-radius: 4px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.imagecontainer figcaption {
  margin: 5px 10px;
}